<p id="start">Em um navegador muito, muito próximo...</p>
<h1>STAR WARS</h1>
<div id="titles">
  <div id="titlecontent">
    <p class="center">
      É FÃ DE STAR WARS?
      <br/>
      SIM? ENTÃO MOSTRE O QUANTO CONHECE DOS PERSONAGENS!
    </p>
    <p>Você terá 120 segundos para acertar o nome do maior número de personagens.</p>
    <p>Você receberá dez pontos para cada personagem que acertar, se não tiver consultado os detalhes do mesmo.</p>
    <p>Caso tenha consultado os detalhes e acertado o nome do personagem receberá 5 pontos.</p>
    <p>Você pode errar quantas vezes quiser, sem afetar a pontuação.</p>
    <p>Não é permitido responder mais de uma vez o mesmo personagem.</p>
    <p>Boa sorte e que a força esteja com você!</p>
    <a routerLink="/start" class="center">JOGAR!</a>
  </div>
</div>

<a routerLink="/start" class="center">PULAR INTRO</a>
