
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="start-content">
            <div style="text-align: center">
                <h1>STAR QUIZ</h1>
                <img src="https://cdn.iconverticons.com/files/png/2181d18cec01d909_256x256.png" alt="" class="animated bounce">
                <a routerLink="/game" class="center">JOGAR!</a>
                <br/>
                <a routerLink="/" class="center">VOLTAR A INTRO</a>
            </div>
        </div>
    </div>
    </div>
</div>
