<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="congratulations">
        <h1>Parabens!</h1>
        <p>Você fez pontos</p>
        <p>preencha o formulário abaixo para salvar sua pontuação:</p>
        <form>
          <label for="nome">Nome</label>
          <input type="text" name="nome" placeholder="seu nome">
          <label for="email">E-mail</label>
          <input type="text" name="email" placeholder="E-mail">
          <button type="submit" class="dicas">Salvar</button>
        </form>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>